:root {
	/* Colors */
	--primary: #5906c5;
	--secondary: #007e85;
	--secondary-decorative: #00c3d0;
	--background: #fafafa;
	--surface: #eee;
	--surface-transparency: rgb(238 238 238 / 20%);
	--surface-container: #e2e2e2;
	--error: #cf3630;
	--error-text: #99201a;
	--success: #5aac2a;
	--link: var(--secondary);
	--disabled: #8a8a8a;
	--low-emphasis: #8a8a8a;
	--medium-emphasis: #636363;
	--hight-emphasis: #323232;
	--on-primary: #f2f2f2;
	--on-secondary: #151515;
	--on-background: #151515;
	--on-surface: #151515;

	/* Gradients */
	--gradient-stop-1: var(--primary);
	--gradient-stop-2: var(--secondary-decorative);
	--gradient-vertical: linear-gradient(180deg,
			var(--gradient-stop-1) 30%,
			var(--gradient-stop-2) 100%);
	--gradient-horizontal: linear-gradient(270deg,
			var(--gradient-stop-1) 10%,
			var(--gradient-stop-2) 50%,
		);

	/* Shadows */
	--elevation-1: 0 .0625rem .25rem rgb(0 0 0 / 20%);
	--elevation-2: 0 .125rem .625rem rgb(0 0 0 / 20%);
	--elevation-inset-1: inset 0 .0625rem .25rem rgb(0 0 0 / 20%);
	--elevation-inset-2: inset 0 .125rem .625rem rgb(0 0 0 / 20%);

	/* Fonts */
	--font-system: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu,
		cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'League Spartan', var(--font-system);

	/* Sizes */
	--font-size-small: .75rem;
	--font-size-base: .875rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.125rem;
	--font-size-x-large: 1.25rem;
	--font-size-2x-large: 1.5rem;
	--font-size-3x-large: 1.75rem;
	--font-size-4x-large: 2rem;
	--font-size-5x-large: 3rem;

	/* Spacing */
	--space-stack-x: .0625rem;
	--space-stack-2x: .125rem;
	--space-stack-4x: .25rem;
	--space-stack-6x: .375rem;
	--space-stack-8x: .5rem;
	--space-stack-10x: .625rem;
	--space-stack-12x: .75rem;
	--space-stack-16x: 1rem;
	--space-stack-20x: 1.25rem;
	--space-stack-24x: 1.5rem;
	--space-stack-32x: 2rem;
	--space-stack-48x: 3rem;
	--space-stack-64x: 4rem;

	/* Border radius */
	--radius-shark: 0;
	--radius-rounded-4: .25rem;
	--radius-rounded-8: .5rem;
	--radius-pill: 50rem;
	--radius-circle: 50%;

	/* Effects */
	--background-blur: blur(4px);

	/* Outline */
	--outline: 3px solid var(--secondary-decorative);

	/* Transitions */
	--transition-duration: .3s;
	--theme-transition: var(--transition-duration) ease-in-out;
	--bouncing-transition: var(--transition-duration) cubic-bezier(.1, .7, .6, .9);
	--appears-transition: var(--transition-duration) cubic-bezier(.12, .6, .54, .56);
	--bouncing-appears-transition: var(--transition-duration) cubic-bezier(.68, -0.55, .27, 1.55)
}

:root.theme-dark {
	--primary: #c497fc;
	--secondary: #03d6da;
	--background: #121212;
	--surface: #1f1f1f;
	--surface-transparency: rgb(18 18 18 / 20%);
	--surface-container: #323232;
	--error: #Ec5751;
	--error-text: #Ed9b9a;
	--success: #7ed13c;
	--link: var(--secondary);
	--disabled: #636363;
	--low-emphasis: #ababab;
	--medium-emphasis: #d0d0d0;
	--hight-emphasis: #eee;
	--on-primary: #151515;
	--on-secondary: #151515;
	--on-background: #f2f2f2;
	--on-surface: #f2f2f2;
}


/* ------------------------------------*\
	#General styles
\*------------------------------------ */

/* Remove the default :focus outline */
*:focus {
	outline: none;
}

/* Show a custom outline on *:focus-visible */
*:focus-visible {
	outline: var(--outline);
}

body {
	font-family: var(--font-body);
	font-size: var(--font-size-base);
	color: var(--on-background);
	background-color: var(--background);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
	:is(*, a, button):focus-visible {
		outline-offset: 3px;
		transition: outline-offset var(--appears-transition);
		transition-duration: .15s;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		transition: background-color var(--theme-transition), color var(--theme-transition);
	}
}


/* ------------------------------------*\
	#Utilities
\*------------------------------------ */

.visually-hidden:not(:focus, :active) {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip-path: inset(50%);
	white-space: nowrap;
}

.flex-group {
	display: flex;
	flex-direction: var(--layout, row);
	gap: var(--gap, 1.25rem);
	align-items: var(--align, center);
	justify-content: var(--justify, center);
}

/* Wrapping element for the whole site */
.wrapper {
	inline-size: min(100%, 75rem);
	padding-inline: 1.5rem;
	margin-inline: auto;
}

/* Base button */
.btn {
	display: inline-flex;
	gap: .5rem;
	align-items: center;
	justify-content: center;
	padding: .5rem 1rem;
	color: inherit;
	text-align: center;
	text-transform: inherit;
	cursor: pointer;
	user-select: none;
	background-color: var(--background);
	border: 2px solid transparent;
	border-radius: var(--radius-rounded-8);
}

/* Stacking child elements */
.stack {
	display: grid;
	grid-template-areas: "stack";
	place-items: center;
}

.stack>* {
	grid-area: stack;
}
