:root {
	/* Colors */
	--primary-color: #5906C5;
	--secondary-color: #00B3BD;
	--background-color: #FAFAFA;
	--surface-color: #EEE;
	--surface-container-color: #E2E2E2;
	--error-color: #CF3630;
	--success-color: #5AAC2A;
	--link-color: var(--secondary-color);
	--disabled-color: #8A8A8A;
	--low-emphasis-color: #8A8A8A;
	--medium-emphasis-color: #636363;
	--hight-emphasis-color: #323232;
	--on-primary-color: #F2F2F2;
	--on-secondary-color: #151515;
	--on-background-color: #151515;
	--on-surface-color: #151515;

	/* Gradients */
	--gradient-stop-1: var(--primary-color);
	--gradient-stop-2: var(--secondary-color);
	--gradient-vertical: linear-gradient(
		180deg,
		var(--gradient-stop-1) 30%,
		var(--gradient-stop-2) 100%
	);
	--gradient-horizontal: linear-gradient(
		270deg,
		var(--gradient-stop-1) 10%,
		var(--gradient-stop-2) 50%,
	);

	/* Shadows */
	--elevation-1: 0 .0625rem .25rem rgb(0 0 0 / 20%);
	--elevation-2: 0 .125rem .625rem rgb(0 0 0 / 20%);
	--elevation-inset-1: inset 0 .0625rem .25rem rgb(0 0 0 / 20%);
	--elevation-inset-2: inset 0 .125rem .625rem rgb(0 0 0 / 20%);

	/* Fonts */
	--font-system: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu,
		cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'League Spartan', var(--font-system);

	/* Sizes */
	--font-size-small: .75rem;
	--font-size-base: .875rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.125rem;
	--font-size-x-large: 1.25rem;
	--font-size-2x-large: 1.5rem;
	--font-size-3x-large: 1.75rem;
	--font-size-4x-large: 2rem;
	--font-size-5x-large: 3rem;

	/* Spacing */
	--space-stack-x: .0625rem;
	--space-stack-2x: .125rem;
	--space-stack-4x: .25rem;
	--space-stack-6x: .375rem;
	--space-stack-8x: .5rem;
	--space-stack-10x: .625rem;
	--space-stack-12x: .75rem;
	--space-stack-16x: 1rem;
	--space-stack-20x: 1.25rem;
	--space-stack-24x: 1.5rem;
	--space-stack-32x: 2rem;
	--space-stack-48x: 3rem;
	--space-stack-64x: 4rem;

	/* Border radius */
	--radius-shark: 0;
	--radius-rounded-4: .25rem;
	--radius-rounded-8: .5rem;
	--radius-pill: 20%;
	--radius-circle: 50%;

	/* Transitions */
	--theme-transition: .2s ease-in-out;
	--bouncing: .3s cubic-bezier(0.1, 0.7, 0.6, 0.9);
}

:root.theme-dark {
	--primary-color: #C497FC;
	--secondary-color: #03D6DA;
	--background-color: #121212;
	--surface-color: #1F1F1F;
	--surface-container-color: #323232;
	--error-color: #EC5751;
	--success-color: #7ED13C;
	--link-color: var(--secondary-color);
	--disabled-color: #636363;
	--low-emphasis-color: #ABABAB;
	--medium-emphasis-color: #D0D0D0;
	--hight-emphasis-color: #EEE;
	--on-primary-color: #151515;
	--on-secondary-color: #151515;
	--on-background-color: #F2F2F2;
	--on-surface-color: #F2F2F2;
}


/* ------------------------------------*\
	#General styles
\*------------------------------------ */

body {
	font-family: var(--font-body);
	font-size: var(--font-size-base);
	color: var(--on-background-color);
	background-color: var(--background-color);
}

a {
	color: inherit;
	text-decoration: none;
}

ul { list-style: none; }


/* ------------------------------------*\
	#Utilities
\*------------------------------------ */

.visually-hidden:not(:focus, :active) {
  position: absolute;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  block-size: 1px;
  inline-size: 1px;
}

.flex-group {
	--direction: initial;
	--aligned: initial;
	--justify: initial;
	--gap: 1.25rem;

	display: flex;
	flex-direction: var(--direction), row;
	gap: var(--gap), 1.25rem;
	align-items: var(--aligned), center;
	justify-content: var(--justify), center;
}

/* Wrapping element for the whole site */
.wrapper {
	padding-inline: 1.5rem;
	margin-inline: auto;
	inline-size: min(100%, 75rem);
}

.btn {
  display: inline-flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
	padding: .5rem 1rem;
  color: inherit;
  text-transform: inherit;
  cursor: pointer;
  background-color: var(--background-color);
  border: 2px solid transparent;
	border-radius: var(--radius-rounded-8);
}

.link {
	position: relative;
	font-weight: 700;
	color: var(--link-color);
}

.link::after {
	position: absolute;
	right: 0;
	bottom: -0.125rem;
	left: 0;
	content: "";
	background-color: var(--link-color);
	transition: scale var(--bouncing);
	transform-origin: center;
	block-size: .125rem;
	scale: 0 100%;
}

.link:is(:hover, :focus-visible)::after {
	scale: 1;
}
