---
import Baselayout from "@layouts/Base.layout.astro";
import Hero from "@components/sections/Hero.astro";
---

<Baselayout>
	<main id="main">
		<Hero />
		<section id="about" class="section wrapper" style={{ minHeight: "100vh" }}>
			<h1 class="section__title">
				About <span class="gradient-text">me</span>
			</h1>
		</section>
		<section
			id="projects"
			class="section wrapper"
			style={{ minHeight: "100vh" }}
		>
			<h1 class="section__title">
				My <span class="gradient-text">projects</span>
			</h1>
		</section>
		<section
			id="contact"
			class="section wrapper"
			style={{ minHeight: "100vh" }}
		>
			<h1 class="section__title">
				Contact <span class="gradient-text">me</span>
			</h1>
		</section>
	</main>
</Baselayout>
