---
import Baselayout from "@layouts/Base.layout.astro";
---

<Baselayout>
	<main id="main">
		<section id="hero" class="section" style={{ minHeight: "100vh" }}>
			HERO
		</section>
		<section id="about" class="section" style={{ minHeight: "100vh" }}>
			ABOUT
		</section>
		<section id="projects" class="section" style={{ minHeight: "100vh" }}>
			PROJECTS
		</section>
		<section id="contact" class="section" style={{ minHeight: "100vh" }}>
			CONTACT
		</section>
	</main>
</Baselayout>
