---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import SectionTitle from "@components/SectionTitle.astro";
import Profile from "@components/Profile.astro";
import SocialMedia from "@components/SocialMedia.astro";
import Skills from "@components/Skills.astro";
import ServiceList from "@components/ServiceList.astro";
import WebImage from "@assets/web-dev.webp";
import DBImage from "@assets/db-admin.webp";
import EmbeddedSystemsImage from "@assets/embedded-systems.webp";
import WebDesignImage from "@assets/web-design.webp";
import DesktopImage from "@assets/desktop-dev.webp";
import type { Services } from "@components/ServiceList.astro";

const t = useTranslations(getLangFromUrl(Astro.url));

const [title, titleHighlight] = t("about.title").split(" ");
const whoIAmTexts: string[] = t("about.whoiam.description").split(/<.*>/g);

const services: Services = [
	{
		name: t("about.service.web.title"),
		description: t("about.service.web.text"),
		image: WebImage,
	},
	{
		name: t("about.service.desktop.title"),
		description: t("about.service.desktop.text"),
		image: DesktopImage,
	},
	{
		name: t("about.service.design.title"),
		description: t("about.service.design.text"),
		image: WebDesignImage,
	},
	{
		name: t("about.service.embedded.title"),
		description: t("about.service.embedded.text"),
		image: EmbeddedSystemsImage,
	},
	{
		name: t("about.service.db.title"),
		description: t("about.service.db.text"),
		image: DBImage,
	},
];
---

<section id="about" class="about section wrapper">
	<header>
		<SectionTitle>
			<span slot="text">{title}</span>
			<span slot="text-highlight">{titleHighlight}</span>
		</SectionTitle>
	</header>

	<section class="whoiam subsection subsection--whoiam">
		<article class="whoiam__bio">
			<header>
				<h3 class="subsection__title">{t("about.whoiam.title")}</h3>
			</header>

			<div class="whoiam__description">
				{whoIAmTexts.map((text: string) => <p>{text}</p>)}
			</div>
		</article>

		<div class="whoiam__profile">
			<Profile class="whoiam__profile-image" />
			<SocialMedia size="large" />
		</div>
	</section>

	<section class="skills subsection subsection--skills">
		<header>
			<h3 class="subsection__title">{t("about.skills.title")}</h3>
		</header>

		<Skills />
	</section>

	<section class="services subsection subsection--services full-bleed">
		<header>
			<h3 class="subsection__title">What I can do?</h3>
		</header>

		<ServiceList services={services} />
	</section>
</section>

<style>
	.subsection__title {
		margin-block-end: var(--space-stack-10x);
		font-size: var(--font-size-2x-large);
	}

	/* ------------------------------------*\
		#Subsection: Who I am?
	\*------------------------------------ */

	.whoiam {
		display: grid;
		grid-template-areas:
			"profile"
			"text";
		gap: var(--space-stack-32x);
		place-items: center;
	}

	@media screen and (width >= 940px) {
		.whoiam {
			grid-template-areas: "text profile";
			place-content: space-between;
		}
	}

	.whoiam__bio {
		grid-area: text;
	}

	.whoiam__description {
		display: grid;
		gap: var(--space-stack-8x);
		max-inline-size: 70ch;
		font-size: var(--font-size-medium);
	}

	.whoiam__profile {
		display: grid;
		grid-area: profile;
		gap: var(--space-stack-20x);
		place-items: center;
	}

	.whoiam__profile-image {
		position: relative;
		inline-size: clamp(min(100%, 280px), 40vw, 360px);
	}

	.whoiam__profile-image::before {
		position: absolute;
		inset: -5%;
		z-index: -1;
		aspect-ratio: 1;
		content: "";
		background: conic-gradient(
			from var(--gradient-angle),
			var(--gradient-stop-2),
			var(--gradient-stop-1),
			var(--gradient-stop-2)
		);
		filter: blur(5rem) opacity(var(--gradient-opacity, 0.75));
		border-radius: var(--radius-circle);
		animation: rotation 20s linear infinite;
	}

	html:is(.theme-dark) .whoiam__profile-image::before {
		--gradient-opacity: 0.3;
	}

	@property --gradient-angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
	}

	@keyframes rotation {
		to {
			--gradient-angle: 360deg;
		}
	}

	/* ------------------------------------*\
		#Subsection: What I can do?
	\*------------------------------------ */

	.services {
		--bleed-color: var(--surface-transparency);

		padding-block: var(--space-stack-20x);
		background-color: var(--bleed-color);
	}
</style>
