---
import ButtonIcon from "@components/ButtonIcon.astro";
import type { Props as ButtonProps } from "@components/Button.astro";

interface Props extends Partial<ButtonProps> {}

const { class: className, i11nAttrs } = Astro.props;
---

<ButtonIcon
	class={`burger-button ${className}`}
	type="solid"
	i11nAttrs={i11nAttrs}
>
	<span class="burger-button__line" aria-hidden="true"></span>
</ButtonIcon>

<style>
	.burger-button {
		z-index: 1;
		display: var(--button-display, flex);
		flex-shrink: 1;
		justify-content: start;
		background-color: var(--surface);
		isolation: isolate;
		inline-size: var(--space-stack-48x);
	}

	@media screen and (width >= 57.5rem) {
		.burger-button {
			--button-display: none;
		}
	}

	.burger-button__line,
	.burger-button__line::before,
	.burger-button__line::after {
		inline-size: max(50%, 0.25rem);
		block-size: 0.125rem;
		background-color: var(--on-surface);
		border-radius: var(--radius-pill);
		transition: translate var(--theme-transition),
			background-color var(--theme-transition);
	}

	.burger-button__line::before,
	.burger-button__line::after {
		--separation-size: var(--space-stack-8x);
		--separation-top: calc(var(--separation-size) * -1);
		--separation-bottom: var(--separation-size);
		--transition-duration: 0.35s;
		--animatition: var(--theme-transition) forwards;

		position: absolute;
		inset-inline-start: calc(0.125rem + 27%);
		inline-size: clamp(0.5rem, 40%, 1rem);
		content: "";
	}

	.burger-button__line::before {
		translate: 0 var(--separation-bottom);
	}

	.burger-button__line::after {
		translate: 0 var(--separation-top);
	}

	/* Animation: close to open */
	.burger-button:is([aria-expanded="true"]) .burger-button__line::after {
		animation: close-top-line var(--animatition);
	}

	.burger-button:is([aria-expanded="true"]) .burger-button__line {
		background-color: transparent;
	}

	.burger-button:is([aria-expanded="true"]) .burger-button__line::before {
		animation: close-bottom-line var(--animatition);
	}

	/* Animation: open to close */
	.burger-button:is([aria-expanded="false"]) .burger-button__line::after {
		animation: open-top-line var(--animatition);
	}

	.burger-button:is([aria-expanded="false"]) .burger-button__line {
		transition-delay: 0.15s;
	}

	.burger-button:is([aria-expanded="false"]) .burger-button__line::before {
		animation: open-bottom-line var(--animatition);
	}

	@keyframes close-top-line {
		25% {
			translate: var(--separation-top);
		}

		100% {
			translate: 0;
			rotate: -225deg;
		}
	}

	@keyframes close-bottom-line {
		25% {
			translate: var(--separation-bottom);
		}

		100% {
			translate: 0;
			rotate: 225deg;
		}
	}

	@keyframes open-top-line {
		0% {
			translate: 0 var(--separation-top);
			rotate: -225deg;
		}

		25% {
			translate: var(--separation-top);
		}

		100% {
			translate: 0 var(--separation-top);
			rotate: 0;
		}
	}

	@keyframes open-bottom-line {
		0% {
			translate: var(--separation-bottom);
			rotate: 225deg;
		}

		100% {
			translate: 0 var(--separation-bottom);
			rotate: 0;
		}
	}
</style>
