---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { AUTHOR } from "@utils/const";
import Logo from "@components/Logo.astro";
import Link from "@components/Link.astro";
import Icon from "@components/Icon.astro";
import SocialMedia from "./SocialMedia.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer wrapper flex-group">
	<Logo class="footer__logo" />

	<SocialMedia class="footer__media" />

	<p class="footer__credits">
		<span>{t("footer.credits.text")}</span>
		<span class="visually-hidden">{t("footer.credits.aux")}</span>
		<Icon
			class="footer__icon footer__icon--heart"
			icon="heart"
			size="large"
			gradient
		/>
		<span>{t("footer.credits.by")}</span>
		<Link class="footer__author" href={AUTHOR.linkedin} isExternal>{AUTHOR.name}&nbsp;{AUTHOR.lastName}</Link>
	</p>
</footer>

<style>
	.footer {
		padding-block: var(--space-stack-10x);
		background-color: transparent;
	}

	.footer__logo,
	.footer__media {
		flex: 1 1 auto;
	}

	.footer__logo {
		inline-size: 160px;
	}

	.footer__icon--heart {
		display: inline-block;
		vertical-align: text-bottom;
		rotate: 10deg;
	}

	.footer__credits {
		text-align: center;
	}
</style>
