---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

type Props = Record<string, never>;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a class="skip-link" href="#main">{t("skip.title")}</a>

<style>
	.skip-link {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		z-index: 1000;
		padding: var(--space-stack-8x) var(--space-stack-16x);
		font-size: var(--font-size-medium);
		color: var(--on-surface);
		background-color: var(--surface);
		border-end-end-radius: var(--radius-rounded-8);
		translate: 0 -5rem;
	}

	.skip-link:is(:focus-visible, :active) {
		transition: translate .3s var(--theme-transition);
		translate: 0;
	}
</style>
