---
import Baselayout from "@layouts/Base.layout.astro";
---

<Baselayout>
  <main id="main">
    <section id="hero" class="section" style={{ minHeight: "100vh" }}>
      PRINCIPAL
    </section>
    <section id="about" class="section" style={{ minHeight: "100vh" }}>
      SOBRE MI
    </section>
    <section id="projects" class="section" style={{ minHeight: "100vh" }}>
      PROYECTOS
    </section>
    <section id="contact" class="section" style={{ minHeight: "100vh" }}>
      CONTACTAME
    </section>
  </main>
</Baselayout>
